<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <title>Food Items</title>
</head>

<body class="mt-5" style="background-color: #2D4C57;">
    <header class="container">
        <h1 class="text-uppercase text-center text-white mb-5">Categories</h1>
    </header>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <script>
    window.alert('Hi!\nWelcome to the web application developed by Arshad.\nYou can checkout my portfolio at https://arshadh.com/\n\nAlso, this is a responsive webapp so you can try it on any mobile device. Just navigate to the following url on any mobile browser: www.goo.gl/1FPKZk');
    </script>
</body>

</html>