<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <title>Food Items</title>
    <style>
    	@media (max-width: 575px) {
    		.hide-for-mobile {
    			display: none;
    		}
    	}
    </style>
</head>

<body class="mt-5" style="background-color: #2D4C57;">
    <header class="container">
        <div class="hide-for-mobile">
            <button onclick="window.location.href='https://arshadh.com/'" class="btn btn-sm btn-outline-secondary">ArshadH.com</button>
            <button onclick="window.location.href='https://codeload.github.com/vCe2SKT0d2BcP3TRJ5/foodappdemo/zip/master'" class="btn btn-sm btn-outline-secondary">Download Code</button>
        </div>
        <h1 class="text-uppercase text-center text-white mb-5">Categories</h1>
    </header>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <script>
    window.alert('Hi!\nWelcome to the web application developed by Arshad Hasan.\n\nThis is a responsive webapp so you can try it on any mobile device. Just navigate to this url on any mobile browser.');
    </script>
</body>

</html>
